In [23]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn import metrics

In [24]:
df=pd.read_csv("/Users/ratho/OneDrive/Desktop/LP3/ML/diabetes.csv")

In [25]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,Pedigree,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [26]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,Pedigree,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [27]:
df.isnull()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,Pedigree,Age,Outcome
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
763,False,False,False,False,False,False,False,False,False
764,False,False,False,False,False,False,False,False,False
765,False,False,False,False,False,False,False,False,False
766,False,False,False,False,False,False,False,False,False
767,False,False,False,False,False,False,False,False,False

In [28]:
df.isnull().sum()

Pregnancies      0
Glucose          0
BloodPressure    0
SkinThickness    0
Insulin          0
BMI              0
Pedigree         0
Age              0
Outcome          0
dtype: int64

In [29]:
x=df.drop('Outcome',axis=1)
y=df['Outcome']

In [30]:
from sklearn.preprocessing import scale
X=scale(x)
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.3,random_state=42)

In [31]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=7)
knn.fit(X_train,y_train)
y_pred=knn.predict(X_test)

In [32]:
print("Confusion Matrix is: ")
cs = metrics.confusion_matrix(y_test,y_pred)
print(cs)

Confusion Matrix is:
[[123  28]
 [ 37  43]]

In [33]:
print("Accuracy ",metrics.accuracy_score(y_test,y_pred))

Accuracy  0.7186147186147186

In [34]:
total_misclassified=cs[0,1]+cs[1,0]
print(total_misclassified)
total_examples= cs[0,0]+cs[0,1]+cs[1,1]+cs[1,0]
print(total_examples)
print("Error Rate: ",total_misclassified/total_examples)
print("Error Rate :",1-metrics.accuracy_score(y_test,y_pred))

65
231
Error Rate:  0.2813852813852814
Error Rate : 0.2813852813852814

In [35]:
print("Precision Score : ", metrics.precision_score(y_test,y_pred))

Precision Score :  0.6056338028169014

In [36]:
print("Recall Score : ", metrics.recall_score(y_test,y_pred))

Recall Score :  0.5375

In [37]:
print("Classification report : ", metrics.classification_report(y_test,y_pred))

Classification report :                precision    recall  f1-score   support

           0       0.77      0.81      0.79       151
           1       0.61      0.54      0.57        80

    accuracy                           0.72       231
   macro avg       0.69      0.68      0.68       231
weighted avg       0.71      0.72      0.71       231